<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/style-auth.css" />
  </head>
  <body>
    <section>
      <div class="wrapper" style="margin: 0 auto">
        <h1>Đăng nhập</h1>
        <form class="form-login form-auth" action="" method="POST">
          <div class="input-form">
            <label class="text" vfor="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="your email address"
              required
            />
          </div>
          <div class="input-form">
            <label class="text" for="password">Password</label>
            <input type="password" id="password" name="password" required />
          </div>
          <div class="form-error"></div>
          <button type="submit">Đăng nhập</button>
        </form>
        <p>Bạn chưa có tài khoản? <a href="/register">Đăng ký</a></p>
      </div>
    </section>
  </body>

  <script src="../public/javascripts/auth.js"></script>
</html>
