<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />

    <title>Document</title>
  </head>
  <body>
    <canvas class="webgl"></canvas>
    <h1>Xin Chào</h1>

    <h2>Chào mừng đến với Triển lãm trang phục các dân tộc Việt Nam</h2>
    <div
      id="overlay"
      style="
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
      "
    >
      Hello
    </div>

    <button id="btn">Click me</button>
    <script
      type="module"
      src="../public/javascripts/room.js?id=<%= roomId %>"
    ></script>
  </body>
</html>
