<form action="/upload" method="post" enctype="multipart/form-data">
  <label for="file">Choose a file:</label>
  <input type="file" name="file" accept=".glb" id="file" /><br />
  <label for="RID">RID:</label>
  <input type="text" name="RID" id="RID" /><br />
  <label for="x">X:</label>
  <input type="text" name="x" id="x" /><br />
  <label for="y">Y:</label>
  <input type="text" name="y" id="y" /><br />
  <label for="z">Z:</label>
  <input type="text" name="z" id="z" /><br />
  <button type="submit">Upload</button>
</form>
